* { outline:none;}

/*all elements styles*/

HTML { height:100%;}

BODY { background-color:#FFF; font-size:90%; line-height:1.3em; font-family:Verdana, Geneva, sans-serif;}
A { color:#333; text-decoration:none;}
A:hover, A:hover:visited { color:#000;}
A:focus { color:#F00;}
A:active { color:#333; }
A:visited { color:#999; }
ABBR { border-bottom:dashed 1px #CCC; cursor:help;}
ACRONYM { text-transform:uppercase;}
ADDRESS, CITE, DFN, EM, VAR { font-style:italic;}
BLOCKQUOTE { margin:30px; border-left:solid 8px #CCC; padding:5px 10px;}
CODE, KBD, PRE, SAMP, TT { font-family:"Courier New", Courier, monospace;}
DL {}
	DT { font-weight:bold;}
	DD { margin:0.5em 1.5em;}
DEL { text-decoration: line-through;}
FORM { margin:0.5em auto;}
	LEGEND {}
	LABEL { float: left;width:15%;line-height:18px; padding-right:2%;}
	INPUT { }
	INPUT, TEXTAREA { border:solid 1px #666; font-family:Verdana, Geneva, sans-serif;font-size:1.1em; padding:0.5em 1em;}
	INPUT:focus, TEXTAREA:focus { border:solid 1px #333;-webkit-box-shadow:0px 0px 5px 2px rgba(0, 0, 0, 0.3);box-shadow:0px 0px 5px 2px rgba(0, 0, 0, 0.3);}
	INPUT[type="submit"], #content SECTION.comments OL LI ARTICLE .reply A { padding:0 3em; text-transform:uppercase; background-color:#000; color:#fff; text-align:center; border:none; cursor:pointer;}
	INPUT[type="submit"]:hover, #content SECTION.comments OL LI ARTICLE .reply A:hover { background-color:#333;}
	TEXTAREA {}
	SELECT {}
H1, H2, H3, H4, H5, H6 { line-height:normal;}
H1 { font-size:2.1em; }
H2 { font-size:1.9em; }
H3 { font-size:1.7em; }
H4 { font-size:1.5em; }
H5 { font-size:1.3em; }
H6 { font-size:1.1em; }
INS { text-decoration:underline;}
KBD { font-weight:bold;}
HR { }
P { margin:1em auto;}
PRE { overflow:auto; margin:0.5em 0; font-size:1.1em; background-color:#000; color:#fff; padding:0.5em;}
Q { quotes:"\00AB" "\00BB" "'" "'";}
Q:before { content:open-quote;}
Q:after { content:close-quote;}
SMALL { font-size:0.7em;}
STRONG { font-weight:bold;}
SUB { vertical-align:sub; font-size:smaller;}
SUP { vertical-align:super; font-size:smaller;}
TABLE {}
	CAPTION {}
	THEAD {}
	TBODY {}
	TFOOT {}
	TR {}
	TR:nth-child(odd) TD { background-color:#F5F5F5!important; }
	TH { border:dotted 1px #666; border-bottom:solid 4px #333; background-color:#F1F1F1; padding:0.5em; text-transform:uppercase; font-weight:bold;}
	TD { border:dotted 1px #CCC; padding:0.5em;}
/*end*/


/*formattazione form*/
FORM {margin:10px 0px;}
FORM FIELDSET {margin:10px 20px 0px;}
FORM DIV {width:98%; margin:0px auto;padding: 10px 0px; color: #333333;border-bottom: 1px solid #CCCCCC;}
FORM DIV:before, FORM DIV:after {content:"";display:table;}
FORM DIV:after {clear:both;}
FORM DIV {zoom: 1;}
FORM DIV B { font-weight:bold; background-position:left top; background-repeat:no-repeat; padding:1px 5px 3px 5px; margin:0px 0px 0px 3px; cursor:help; color:#FFFFFF;}
FORM DIV:last-child { border:none;}
FORM LEGEND  {font-size: 1.5em; color:#666666; margin:0 0.5em; padding:0 0.2em;}
FORM INPUT, FORM TEXTAREA { width:59%; border:solid 1px #abadb3;}
FORM INPUT[type="checkbox"] { width:auto; border:none; }
FORM INPUT[type="submit"] { width:auto;}
FORM .submit { padding:1em; text-align:center;}
FORM INPUT:focus, FORM TEXTAREA:focus { border-color:#0099FF;}
FORM INPUT.no { width:auto;}
FORM INPUT.check { width:auto; border:none;}
FORM DIV.no {padding: 0px;border:none;}
FORM DIV DIV { border:none;}
FORM DIV.alert { font-weight:bold; text-align:center;}
FORM DIV.admin {}
FORM LABEL, FORM DIV SPAN.label {float: left;width: 33%;line-height: 18px; padding-right: 2%;text-align:right}
FORM LABEL.no {float:none;width: auto;line-height:normal; padding-right:inherit;text-align:inherit;}
FORM DIV.invert LABEL {width:auto; text-align:left; float:left;}
FORM DIV.invert INPUT { float:left;}
FORM DIV.button {border:none; text-align:center; float:none!important;}
FORM DIV.button INPUT { margin:5px auto;}
FORM DIV.reset LABEL, FORM DIV.reset INPUT, FORM DIV.captcha LABEL { width:auto; float:none;}
FORM DIV.captcha LABEL:first-child { background-color:#333333; color:#FFFFFF; padding:5px;}
FORM.upload_img LABEL SPAN { font-size:0.8em;}
FORM.upload_img LABEL A { color:#333333;}
FORM.upload_img IFRAME { background-color:transparent;border:none;width:65%; height:100px;}



.clearfix:before, .clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;}
.clearfix {zoom: 1;}


/* STANDARD FIXED CLASSES */

/* Alignment Classes */
.aligncenter { text-align:center;}
.alignleft { float:left; margin: 0 15px 15px 0; }
.alignright { float:right; margin: 0 0 15px 15px; }
.alignnone { margin: 15px 0;}

/* Caption Related Classes */
.wp-caption { padding:10px 7px; border:solid 1px #e8e8e8;font-size:12px; color:#777; font-style:italic; max-width:100%; }
.wp-caption-text { text-align:left; margin:0.2em auto;}
.gallery-caption { overflow:hidden;}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Post Classes */
.sticky {background-color:#f4f4f4;}

/* Comment Classes */
.bypostauthor {background-color:#FFC!important;}

/**/

/* ALERT BOXES */
.result { text-align:center; margin:5px auto; padding:5px; width:90%;border:none;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; border-style:solid; border-width:1px;}
.result STRONG { font-size:larger;}
.success {color:#599847; background-color:#EBFAB6; border-color:#599847;}
.success STRONG, .success LEGEND, .success A { color:#3F6B32!important; }
.alert { color:#CA6B1C; background-color:#FBDD96; border-:#3F6B32;}
.alert STRONG, .alert LEGEND, .alert A { color:#8A4813!important; }
.error {color:#883333; background-color:#FDD2D1; border-color:#8A4813;}
.error STRONG, .error LEGEND, .error A {color:#662626!important;}
.notice { color:#9F6722; background-color:#F9EBCA; border-color:#662626;}
.notice STRONG, .notice LEGEND, .notice A { color:#704818!important; }
.info { color: #277DCE; background-color:#E6EBF0; border-:#704818;}
.info STRONG, .info LEGEND, .info A {color: #1D5C96;}

/*back to top of page button style*/
#backtop { font-family:Verdana, Arial, Helvetica, sans-serif; position:fixed; bottom:50px; right:20px; background-color:#333333; color:#fff; padding:15px 5px 5px 5px;font-size:3em; background-repeat:no-repeat; background-position:center bottom; margin:25px auto 0; text-align:center;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}