BODY, INPUT, TEXTAREA {font-family:'Monda', Verdana, Geneva, sans-serif;}

@font-face {
    font-family: 'Genericons';
    src: url('../fonts/genericons-regular-webfont.eot');
    src: url('../fonts/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/genericons-regular-webfont.woff') format('woff'),
         url('../fonts/genericons-regular-webfont.ttf') format('truetype'),
         url('../fonts/genericons-regular-webfont.svg#genericonsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.container { max-width:960px; margin:0 auto;}

#header {/* margin-bottom:20px;*/ padding:0 1em; }
#header NAV { font-size:0.8em;  text-align:right; margin:0 0 0.5em;}
#header NAV UL LI { display:inline; border-left:solid 1px #333; }
#header NAV UL LI:first-child { border:none;}
#header NAV UL LI A { padding:0 0.5em;}
#header NAV UL LI A:hover { border-bottom:dotted 1px #333;}
#header DIV.hgroup {font-size:1.5em;}
#header H1 { font:bold 2.2em/1.5em 'Quando', Times, serif;}
#header H2 { font:italic bold 0.8em/1.5em 'Quando', Times, serif; color:#666;}
FIGURE.header { margin-top:20px; height:250px; overflow:hidden;}
FIGURE.header IMG { width:100%; height:auto;}

#nav { margin:20px 10px;border-bottom:dotted 1px #CCC; border-top:dotted 1px #CCC; text-transform:uppercase; background-color:#fff;}
#nav LI { color:#666; padding:0 10px;}
#nav LI P { font-size:0.8em; text-transform:none; margin:0 0 0.5em; padding:0;}
#nav H2 { font-size:1em;}
#nav A { text-decoration:none; display:block;line-height:2em; }
#nav A:hover { background-color:transparent;}
#nav A:visited { color:#CCC;}
#nav A:active { background-color:#333;}
#nav A:focus { color:#F00;}
#nav UL { margin:0;}
#nav > UL > LI { float:left;}
#nav UL LI { position:relative;}
#nav UL LI:hover, #nav .current-menu-item {background-color:#333; color:#fff;}
#nav UL LI:hover A, #nav .current-menu-item A {color:#fff;}
#nav UL LI UL { display:none; position:absolute; top:100%; left:0; z-index:1; line-height:normal; min-width:100%; width:auto;margin:0; padding:0;background-color:#333; font-size:0.8em; text-transform:none;}
#nav UL LI UL LI { display:block; float:none; white-space:nowrap;padding:0; }
#nav UL LI UL LI A { padding:10px; line-height:normal;}
#nav UL LI UL LI A:hover { background-color:#000; }
#nav UL LI:hover > UL { display:block; }
#nav UL LI UL LI UL { top:0; left:100%; font-size:1em;}

#wrapper { margin:10px auto;}

#wrapper ASIDE { float:right; width:23%;}

#wrapper ASIDE UL IMG, #pre-footer SECTION.footer UL IMG { max-width:100%; height:auto;}
#wrapper ASIDE UL FORM SELECT, #pre-footer SECTION.footer UL FORM SELECT { max-width:80%;}

#content { width:75%; margin:1em 0; float:left; background-color:#fff;-webkit-border-radius: 0px 10px 10px 0px;border-radius: 0px 10px 10px 0px;}
/*#content .pagination { margin:20px 0; font-size:0.8em; font-weight:bold; }
#content UL.pagination { margin:0 1em;}
#content UL.pagination LI { display:inline;}*/
#content H1, #content H2, #content H3, #content H4, #content H5, #content H6 { line-height:2em; font-weight:bold;-ms-word-wrap: break-word;word-wrap: break-word;}
#content H1, #content H2, #content H3, #content H4, #content H5, #content H6, #content P { -ms-word-wrap: break-word;word-wrap: break-word;}

#content ARTICLE P A, #content ARTICLE UL A, #content ARTICLE OL A { color:#FF6600;}
#content ARTICLE, #content DIV.page { padding:1em;}
#content IMG { max-width:100%; height:auto;}
#content UL.pagination { margin:1em;}
#content UL.pagination LI { display:inline;}
#content ARTICLE HEADER { margin-bottom:20px; border-bottom:solid 1px #D3D3D3;}
#content ARTICLE HEADER A { color:#333333;}
#content ARTICLE HEADER SPAN { background-color:transparent;}
#content ARTICLE HEADER DIV.date { float:left; width:10%;}
#content ARTICLE HEADER DIV.date A { display:block; background-color:#333333; }
#content ARTICLE HEADER DIV.date A:hover { display:block; background-color:#c0c0c0; color:#666666; }
#content ARTICLE HEADER DIV.date, #content ARTICLE HEADER DIV.date A {color:#FFFFFF;}
#content ARTICLE HEADER DIV.date SPAN { display:block; text-align:center; line-height:normal;}
#content ARTICLE HEADER DIV.date .d { font-size:3em; font-weight:bold; line-height:1em;}
#content ARTICLE HEADER DIV.date .m { text-transform:uppercase; font-weight:bold;}
#content ARTICLE HEADER DIV.title { float:right; width:88%;}
#content ARTICLE HEADER DIV.cover { clear:both;}
#content ARTICLE HEADER H1 { line-height:normal;}
#content ARTICLE HEADER P { font-size:0.8em;}
#content ARTICLE FIGURE.cover { border:solid 5px #333333; max-height:250px; overflow:hidden;}
#content ARTICLE FIGURE.cover IMG { width:100%;}
#content ARTICLE UL, #content ARTICLE OL { margin:auto 30px;}
#content ARTICLE UL { list-style-type:disc;}
#content ARTICLE UL UL { list-style-type:square;}
#content ARTICLE UL UL UL { list-style-type:circle;}
#content ARTICLE OL { list-style-type:decimal;}
#content ARTICLE OL OL { list-style-type:lower-alpha;}
#content ARTICLE OL OL OL { list-style-type:upper-roman;}
#content ARTICLE UL LI { margin:10px 0;}
#content ARTICLE SPAN.postmetadata { background-color:transparent;}
#content ARTICLE FOOTER { clear:both; border-top:dotted 1px #999; margin-top:20px; padding-top:10px; font-size:0.75em;}
#content ARTICLE IMG.icon { width:16px; vertical-align:text-bottom;}

/* POST FORMAT STYLE */
#content .format-aside { background-color:#F8F0F7; border-left:solid 15px #999; }

#content .format-gallery .wp-caption-text { overflow:hidden; font-size:smaller; text-align:center; height:20px; line-height:20px;}

#content SECTION.comments { margin:1em;}
#content SECTION.comments A:hover {color:#CC0000;}
#content SECTION.comments OL LI UL { margin:0 0 20px 1em;}
#content SECTION.comments OL LI { border:dotted 1px #c0c0c0; margin-bottom:20px; padding:10px;}
#content SECTION.comments OL LI.even { background-color:#FFF;}
#content SECTION.comments OL LI.odd {background-color:#F1F1F1;}
#content SECTION.comments OL LI ARTICLE { padding:1em 0;}
#content SECTION.comments OL LI ARTICLE HEADER { float:left; width:12%; text-align:center;}
#content SECTION.comments OL LI ARTICLE HEADER CITE {-ms-word-wrap: break-word;word-wrap: break-word;}
#content SECTION.comments OL LI ARTICLE HEADER * { display:block; margin:0.5em auto;}
#content SECTION.comments OL LI ARTICLE SECTION { width:85%; float:right; border-left:dotted 1px #666666; padding-left:0.5em;}
#content SECTION.comments OL LI ARTICLE SECTION TIME { color:#CC0000;}
#content SECTION.comments OL LI ARTICLE .reply { clear:both;}
#content SECTION.comments OL LI ARTICLE .reply A { float:right; line-height:1.5em; padding:0 2em;}

#respond TEXTAREA { vertical-align:top;}
#respond H3 { margin-left:0;}
#respond .form-allowed-tags, #respond .comment-notes { font-size:0.7em; line-height:normal; margin:0.5em 0;}

#pre-footer SECTION.footer {background-color:#414141; padding-bottom:20px; font-size:0.8em;}
#pre-footer SECTION.footer H1 { color:#fff;}
#pre-footer SECTION.footer UL, #pre-footer SECTION.footer A { color:#CCCCCC;}
#pre-footer SECTION.footer UL { float:left; width:33.3333%;}
#pre-footer SECTION.footer UL LI UL { width:auto;}
#pre-footer SECTION.footer UL LI UL LI UL { display:none;}
#pre-footer SECTION.footer > UL > LI { margin:0.5em 1em;}
#pre-footer SECTION.footer .widget { clear:both;}
#pre-footer SECTION.footer .widget #wp-calendar { background-color:rgba(0,0,0,0.2);}
#pre-footer SECTION.footer .widget TABLE { width:80%;}
#pre-footer SECTION.footer .widget TABLE TR TH, #pre-footer SECTION.footer .widget TABLE TR TD { background-color:transparent!important;}
#pre-footer SECTION.footer .widget TABLE TR TH { border-bottom-color:#fff;}
#pre-footer SECTION.footer .widget FORM { margin:0; text-align:left; width:auto; display:inline-block; white-space:nowrap; padding:1em 0;}
#pre-footer SECTION.footer .widget FORM * { display:inline; line-height:3em; float:none; width:auto;}
#pre-footer SECTION.footer .recentcomments A { text-decoration:underline;}
#pre-footer SECTION.footer .recentcomments A:hover { text-decoration:none;}
#pre-footer SECTION.footer .recentcomments .url { font-style:italic; color:#fff; text-decoration:none;}

#footer { background-color:#333; color:#CCC; font-size:0.7em; padding:1em; line-height:normal;}
#footer A { color:#FF9; text-decoration:none;}
#footer P { margin:0;}

#wp-calendar { width:100%; margin-bottom:1.5em;}
#wp-calendar CAPTION { font-weight:bold; font-size:larger;}
#wp-calendar TBODY TD { text-align:center;}
#wp-calendar #next { text-align:right;}
#wp-calendar TBODY TD A { background-color:#666666; color:#fff; display:block; width:25px; margin:0 auto;-webkit-border-radius: 20px;border-radius: 20px;}
#wp-calendar TBODY TD A:hover { background-color:#999999;}
#wp-calendar TFOOT TD { padding:0!important;}
#wp-calendar TFOOT TD A { display:block;padding: 0.5em;}

.widget_calendar { line-height:normal; padding:0;}
.widget_calendar TABLE TD, .widget_calendar TABLE TH {padding:0.3em!important;}
.widget_search FORM { width:80%; margin:0.5em auto; padding:0.5em 1em; background-color:#c0c0c0;-webkit-border-radius:10px 10px 10px 10px;border-radius:10px 10px 10px 10px; font-size:0.8em;text-align:center;}
.widget_search LABEL { display:none;}
#searchform INPUT { display:block; float:none; width:auto; margin:5px auto;}

.fontface .genericon:before, .fontface .genericon:after {display: inline-block;width: 16px;height: 16px;-webkit-font-smoothing: antialiased;font-size: 16px;line-height: 1;font-family: 'Genericons';text-decoration: inherit;font-weight: normal;font-style: normal;vertical-align: top;}
.fontface .author-post:before { content: '\f304'; }
.fontface .comments-post:before { content: '\f300'; }
.fontface .category-post:before { content: '\f301'; }
.fontface .tag-post:before { content: '\f302'; }


/* error page 404 NOT FOUND */
BODY.error404 H3 { color:#fff; background-color:#333333; padding:0.2em 1em;-webkit-border-radius: 0px 0px 10px 10px; border-radius: 0px 0px 10px 10px; width:30%; margin:0 35%; position:fixed; z-index:10; top:0; text-align:center;}
BODY.error404 .container { text-align:center; background-color:#fff; margin-top:50px; padding-bottom:50px;}
BODY.error404 .container .hgroup { font-weight:bold; font-size:4em; text-transform:uppercase;}
BODY.error404 .container .hgroup H1 { font-weight:bold;}
BODY.error404 .container .hgroup H2 { font-size:1em; font-weight:100;}
BODY.error404 #searchform { width:60%; margin:20px auto;}
BODY.error404 #searchform LABEL { display:none;}
BODY.error404 #searchform INPUT { width:100%; display:block;}
BODY.error404 #searchform INPUT#searchsubmit { width:auto; margin:20px auto;}
BODY.error404 .menu LI { display:inline; margin:0 0.2em;}
BODY.error404 .menu LI A { background-color:#333333; color:#fff; padding:0 1em;-webkit-border-radius: 1000px;border-radius: 1000px;}
BODY.error404 .menu LI A:hover { background-color:#000;}
/**/

.mobile { display:none;}


/*************************************
* RESPONSIVE DESIGN
* and now let's become responsive!
**************************************/

@media screen and (max-width: 480px) {
	/*.mobile { display:block;}*/
	#header .toggle-nav:after { content:" +";}
	#header NAV { font-size:0.8em;  text-align:left; margin:0 0 0.5em;}
	#header NAV UL { display:none;}
	#header NAV UL LI { display:block; border-left:none;}
	#header HGROUP { font-size:1.3em;}
	FIGURE.header { height:90px;}
	FIGURE.header IMG { height:100%; width:auto;}
	#nav UL { margin:0;}
	#nav A { padding:0 10px; color:#fff;}
	#nav UL LI { float:none; background-color:#333; margin-bottom:1px;}
	#nav LI { padding:0;}
	#nav UL LI UL, #nav UL LI UL LI UL { position:relative; top:auto; left:auto; margin:0;}
	#nav P.nav_desc { display:none;}
	#backtop { bottom:0; right:0; padding-right:5%; background-color:rgba(0,0,0,0.3);-webkit-border-radius: 10px 0 0 0;-moz-border-radius: 10px 0 0 0;border-radius: 10px 0 0 0;}
	LABEL, INPUT, TEXTAREA { float:none; display:block; width:auto; max-width:80%;}
	#content H1, #content H2, #content H3, #content H4, #content H5, #content H6 { line-height:1em; margin-bottom:1em;}
	#content ARTICLE HEADER DIV.date, #content ARTICLE HEADER DIV.title { float:none; width:auto; }
	#content ARTICLE FIGURE.cover {max-height:200px;}
	#content SECTION.comments ARTICLE { padding:0;}
	#content SECTION.comments OL LI ARTICLE HEADER, #content SECTION.comments OL LI ARTICLE SECTION { float:none; width:auto;}
	#content SECTION.comments OL LI ARTICLE HEADER * { display:inline;}
	#content SECTION.comments OL LI ARTICLE HEADER IMG { vertical-align:middle;}
	#content SECTION.comments OL LI ARTICLE SECTION { border:none;}
	#content SECTION.comments OL.children { margin:0.5em 0.2em;}
	#content SECTION.comments OL.children LI { padding:0; font-size:smaller;}
	#content SECTION.comments OL.children LI A.comment-reply-link { margin-right:0.2em;}
	#content SECTION.comments OL.children LI OL LI { font-size:1em;}
	#commentform INPUT[type="submit"] { width:100%; max-width:none; padding:0.3em 0;}
	#footer P { float:none;}
	#footer P.alignright { text-align:left; margin-top:20px;}
	
	.wp-caption { max-width:95%;}
	
	BODY.error404 H3 { width:90%; margin:0 5%; padding:0; font-size:0.85em;}
	BODY.error404 .container { margin-top:30px; padding-bottom:10px;}
	BODY.error404 .container .hgroup { font-size:1.5em;}
	BODY.error404 .container .hgroup H2 { font-size:0.85em;}
	BODY.error404 .menu LI { margin-bottom:1px;}
	BODY.error404 .menu LI, BODY.error404 .menu LI A { display:block;}
	BODY.error404 .menu LI A {-webkit-border-radius: 0;border-radius: 0; line-height:2em;}
}

@media screen and (max-width: 768px) {
	#content, #wrapper ASIDE, #pre-footer SECTION.footer > UL { float:none; width:auto;}
	#wrapper ASIDE { margin:1em;}
}

/*for iPad only*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
	#header NAV {	font-size: 0.75em;}
	FIGURE.header { height:200px;}
}
