@import url(http://fonts.googleapis.com/css?family=Monda:400,700);

BODY#tinymce {font:90%/1.3em 'Monda', Verdana, Geneva, sans-serif;}
A { color:#333; text-decoration:none;}
A:hover, A:hover:visited { color:#000;}
A:focus { color:#F00;}
A:active { color:#333; }
A:visited { color:#999; }
ABBR { border-bottom:dashed 1px #CCC; cursor:help;}
ACRONYM { text-transform:uppercase; border:none;}
ADDRESS, CITE, DFN, EM, VAR { font-style:italic; border:none;}
BLOCKQUOTE { margin:30px; border-left:solid 8px #CCC; padding:5px 10px;}
CODE, KBD, PRE, SAMP, TT { font-family:"Courier New", Courier, monospace;}
DL {}
	DT { font-weight:bold;}
	DD { margin:0.5em 1.5em;}
DEL { text-decoration: line-through; color:#000;}
FORM { margin:0.5em auto;}
	LEGEND {}
	LABEL { float: left;width:15%;line-height:18px; padding-right:2%;}
	INPUT { }
	INPUT, TEXTAREA { border:solid 1px #666; font-family:'Monda', Verdana, Geneva, sans-serif;font-size:1.1em; padding:0.5em 1em;}
	INPUT:focus, TEXTAREA:focus { border:solid 1px #333;-webkit-box-shadow:0px 0px 5px 2px rgba(0, 0, 0, 0.3);box-shadow:0px 0px 5px 2px rgba(0, 0, 0, 0.3);}
	INPUT[type="submit"], #content SECTION.comments OL LI ARTICLE .reply A { padding:0 3em; text-transform:uppercase; background-color:#000; color:#fff; text-align:center; border:none; cursor:pointer;}
	INPUT[type="submit"]:hover, #content SECTION.comments OL LI ARTICLE .reply A:hover { background-color:#333;}
	TEXTAREA {}
	SELECT {}
H1, H2, H3, H4, H5, H6 { line-height:normal;}
H1 { font-size:2.1em; }
H2 { font-size:1.9em; }
H3 { font-size:1.7em; }
H4 { font-size:1.5em; }
H5 { font-size:1.3em; }
H6 { font-size:1.1em; }
INS { text-decoration:underline; color:#000; border:none;}
KBD { font-weight:bold;}
HR { }
P { margin:1em auto;}
PRE { overflow:auto; margin:0.5em 0; font-size:1.1em; background-color:#000; color:#fff; padding:0.5em;}
Q { quotes:"\00AB" "\00BB" "'" "'";}
Q:before { content:open-quote;}
Q:after { content:close-quote;}
SMALL { font-size:0.7em;}
SPAN { background-color: #FFFFCC;}
STRONG { font-weight:bold;}
SUB { vertical-align:sub; font-size:smaller;}
SUP { vertical-align:super; font-size:smaller;}
TABLE {}
	CAPTION {}
	THEAD {}
	TBODY {}
	TFOOT {}
	TR {}
	TR:nth-child(odd) TD { background-color:#F5F5F5!important; }
	TH { border:dotted 1px #666; border-bottom:solid 4px #333; background-color:#F1F1F1; padding:0.5em; text-transform:uppercase; font-weight:bold;}
	TD { border:dotted 1px #CCC; padding:0.5em;}
	
UL { list-style-type:disc;}
UL UL { list-style-type:square;}
UL UL UL { list-style-type:circle;}
OL { list-style-type:decimal;}
OL OL { list-style-type:lower-alpha;}
OL OL OL { list-style-type:upper-roman;}
